!!! 5
%html
  %head
    %link{"rel" => "stylesheet", "href" => "stylesheets/main.css", "type" => "text/css"}
    %script{"src" => "amnesiac.js"}
  %body
    .container
      .card
        %p#card-text
      .controller
        %a#prev
          %img{ src: 'images/prev.png' }
        %a#next
          %img{ src: 'images/next.png' }
      :javascript
        amnesiac.core.main();
