$beige: #a18140

body
  background-image: url('/images/dark_leather.png')
  font-size: 100%
  line-height: 1.125em

.container
  $container-width: 640px
  $container-height: 480px
  width: $container-width
  height: $container-height
  background-color: $beige
  overflow: auto
  margin: 0 auto
  -moz-border-radius: 15px
  border-radius: 15px
  background-image: url('/images/creampaper.png')

  #card
    margin-top: $container-height * .1
    margin-left: $container-width * .1
    width: $container-width * .8
    height: $container-height * .7
    font-family: Century Gothic, sans-serif
    line-height: 1em
    font-size: 3em

  .controller
    background-color: darken($beige, 10%)
    height: 35px
    width: $container-width * .9
    margin: 30px auto
    #next img
      margin-top: 5px
      margin-right: 20px
      float: right
 
    #prev img
      margin-top: 5px
      margin-left: 20px
